.nested, .nested-0, .nested-1, .nested-2, .nested-3, .nested-4, .nested-5, .nested-6, .nested-7, .nested-8, .nested-9 {
    border-left: 2px solid @theme_fg_color;
    padding-left: 4px;
}

.nested-0 {
    border-color: #3584e4;
}

.nested-1 {
    border-color: #33d17a;
}

.nested-2 {
    border-color: #f6d32d;
}

.nested-3 {
    border-color: #ff7800;
}

.nested-4 {
    border-color: #e01b24;
}

.nested-5 {
    border-color: #9141ac;
}

.nested-6 {
    border-color: #986a44;
}

.nested-7 {
    border-color: @theme_fg_color;
}

.comment_author, .blue {
    color: #1c71d8;
}

.red {
    color: #ed333b;
}

.green {
    color: #33d17a;
}

.op_comment {
    color: #ff7800;
}

.card {
    border: 1px solid @borders;
    color: @theme_fg_color;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    background-color: @theme_base_color;
}

.card, .card row, .card > *, .card > * > * {
    border-radius: 5px;
}

.welcome-title {
    font-weight: 300;
    font-size: 20pt;
    letter-spacing: 0.1rem;
}

.login-button {
    font-size: 18pt;
    margin-top: 12px;
    padding: 12px 24px;
}

.app-notification {
    border-radius: 5px 5px 0 0;
}

.separator-hr {
	background-color: @theme_fg_color;
}

.subtitle {
    opacity: .55;
    text-shadow: none;
    font-size: smaller;
}

.non-highlighted-listbox-row:hover {
    background: @theme_base_color;
}

.padding12 {
    padding: 12px;
}

.flair {
    font-size: .8rem;
    border-radius: .4rem;
    padding: .5em;
    background-color: #ff7800;  /* Will be overwritten */
    color: white;  /* Will be overwritten */
}

.inbox-count-badge {
    padding: 2px;
    font-size: .6em;
    border-radius: .6em;
    background-color: #ed333b;
	color: black;
	margin-top: 3px;
}
